.form{
  display: block;
  width: 384px;
  height: 600px;
  text-align: center;
  background-color: white;
  margin: 59px auto 239px;
  padding: 48px 32px;
  box-shadow: 0px 0.61px 2.93px 0px #00000005;
  box-shadow: 0px 1.46px 7.05px 0px #00000007;
  box-shadow: 0px 2.75px 13.27px 0px #00000009;
  box-shadow: 0px 4.91px 23.68px 0px #0000000B;
  box-shadow: 0px 9.19px 44.28px 0px #0000000D;
  box-shadow: 0px 22px 106px 0px #00000012;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 6px;
}

.error{
  margin: 0;
  position: relative;
  bottom: 10px;
  left: 2px;
  color: #F5222D;
  text-align: start;
  font-size: 12px;
}

.title{
  font-size: 20px;
  font-weight: 500;
  color: #262626;
  margin-bottom: 21px;
}

.label{
  display: block;
  margin-bottom: 12px;
}

.label__text{
  font-size: 14px;
  color: #262626;
  margin: 0;
  text-align: start;
  font-weight: 400px;
}

.label__input{
  box-sizing: border-box;
  width: 320px;
  height: 40px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400px;
  color: #000000BF;
  padding: 8px 12px;
}

.label__error{
  border-color: #F5222D;
}

.checkbox{
  display: block;
  text-align: start;
  width: 320px;
  border-top: 1px solid #E8E8E8;
  padding-top: 8px;
  margin-top: 21px;
  margin-bottom: 21px;
}

.checkbox__base{
  position: relative;
  top: 3px;
}

.checkbox__text{
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}

.submit{
  width: 319px;
  height: 40px;
  padding: 8px 130px;
  color: white;
  background-color: #1890FF;
  font-size: 16px;
  border-radius: 4px;
  border-width: 0;
}

.footer{
  margin-top: 21px;
  font-size: 12px;
  color: #8C8C8C;
}

.signIn{
  display: inline;
  text-decoration: none;
  color: #1890FF;
}

.alert{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.spin{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}